.genres {
    &__game {
        width: 200px;
        box-shadow: var(--card-shadow);
        background-color: var(--card-background);
        transition: .3s all;
        cursor: pointer;
        &-box {
            height: 200px;
            width: 200px;
        }
        &-img {
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
        &-title {
            padding: 15px;
            font-size: 22px;
            font-weight: 700;
            color: var(--text-white);
        }
        &:hover {
            transform: translateY(-6px)!important;
        }
        &-btn {
            margin: 50px auto 0;
            width: 170px !important;
        }
    }
}
