.genres {
    &__title {
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        background-color: var(--background-blue);
        padding: 15px;
        margin-bottom: 30px;    
        box-shadow: var(--card-shadow);
        text-shadow: 1px 1px 1px #222a3a;
    }
    &__game {
        width: 200px;
        box-shadow: var(--card-shadow);
        background-color: var(--card-background);
        transition: .3s all;
        cursor: pointer;
        &-box {
            height: 200px;
            width: 200px;
        }
        &-img {
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
        &-title {
            padding: 15px;
            font-size: 22px;
            font-weight: 700;
            color: var(--text-white);
        }
        &:hover {
            transform: translateY(-6px)!important;
        }
        &-btn {
            margin: 50px auto 0;
            width: 170px !important;
        }
    }
}
