.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--color-white);
    padding: 30px;
    margin-top: 40px;
    &__header {
        margin-top: 5px;
        color: var(--color-black);
        font-weight: 700;
        font-size: 24px;
    }
    &__text {
        color: var(--color-black);
        font-size: 18px;
    }    
}