@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .random {
        &__game {
            &-btns {
                gap: 5px;
            }
        }
    }
    .games {
        &__list {
            max-width: 500px;
        }
    }
    .button {
        font-size: 14px;
        width: 90px;
    }
    .genres {
        padding: 30px 10px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .random {
        &__wrapper {
            grid-template-columns: minmax(300px, 500px);
            justify-content: center;
        }
    }
    .games {
        &__info {
            max-height: unset;
            position: unset;
        }
        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__list {
            max-width: unset;
        }
    }
    .genres {
        &__promo {
            flex-direction: column;
            padding: 20px 20px 20px 160px;
            &-text {
                font-size: 18px;
                &:nth-child(2) {
                    margin-top: 5px;
                }
            }
            &-info {
                align-self: flex-start;
            }
            &-btn {
                flex-shrink: 0;
            }
        }
    }
    .single {
        &__info {
            grid-template-columns: 2fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        padding: 20px;
        &__nav {
            font-size: 18px;
        }
    }
    .logo {
        h1 {
            font-size: 22px;
        }
    }
    .genres {
        &__list {
            gap: 15px;
        }
        &__item {
            width: 150px;
            &-title {
                font-size: 18px;
            }
        }
    }
    .single {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 0px;
        }
        &__back {
            grid-row: 2/3;
            &-link {
                padding: 20px;
            }
        }
        &__info {
            padding: 0 20px 20px 20px;
        }
        &__box {
            height: 200px;
            background-color: var(--color-black);
            &-img {
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .header {
        flex-direction: column;
        gap: 10px;
        hr {
            display: block;
        }
    }
    .footer {
        gap: 15px;
        padding: 20px 15px;
        p {
            font-size: 14px;
            text-align: center;
            width: 100%;
            display: inline-block;
        }
    }
    .random {
        &__game {
            padding: 20px;
            min-height: 380px;
            grid-template-columns: 1fr;
            gap: 10px;
            &-box {
                grid-row: unset;
                width: 100%;
                max-height: 200px;
            }
            &-img {
                object-fit: contain;
            }
            &-btns {
                margin-top: 10px;
            }
        }
        &__try {
            padding: 20px;
            min-height: 200px;
            &-text {
                font-size: 18px;    
            }
            &-img {
                &--controller {
                    right: 0;
                    bottom: 5px;
                }
                &--nintendo {
                    display: none;
                }
            }
        }
    }
    .games {
        &__info {
            width: 100%;
            &-header {
                grid-template-columns: 1fr;
                gap: 10px;
            }
            &-box {
                grid-row: unset;
                width: 100%;
                max-height: 200px;
            }
            &-img {
                object-fit: contain;
            }
            &-btns {
                flex-direction: row;
            }
        }
    }
    .spinner {
        width: 160px;
        height: 160px;
    }

    .genres {
        padding: 10px 0px;
        &__promo {
            padding: 20px;
            &-img {
                display: none;
            }
        }
        &__list {
            justify-content: center;
        }
    }
    .single {
        &__title {
            grid-column: unset;
        }
        &__info {
            grid-template-columns: 1fr;
            gap: 30px;
            &-tags, &-platforms, &-descr {
                grid-column: unset;
            }
            &-btns {
                flex-direction: row;
                justify-content: flex-end;
            }
            &-tags {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 350px) {
    .genres {
        &__list {
            gap: 25px;
        }
        &__item {
            width: 100%;
            &-box {
                height: 100px;
            }
        }
    }
}