@use './bootstrap-reboot.min';
@use './variables';
@use './media.scss';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);
}

[data-theme='light'] {
    --background-app: #d9e0e6;
    --background-header: #FCFCFC;
    --background-footer: #FCFCFC;
    --text-white: #404040;

    --logo-shadow: none;
    --logo-blue: #3D97EB;
    --logo-white: #636363;
    --menu-active:#3D97EB;
    --menu-color: #bdbdbd;

    --card-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    --card-shadow-active: 10px 10px 10px #3d97eb94;
    --card-background: var(--color-white);
    --background-blue: #222a3a91;
    --background-accent: #4083c1;

    --background: #05010a;
    --text-primary: #f2f2f2;
    --text-secondary: #a7a4a4;
    --accent: #6a5acd;
    --accent-hover: #5b4cbe; 
    --border: #696969;
    --shadow: 7px 15px 13px -4px #ffffff1b;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    transition: .3s background-color, .3s color;
}

main {
    flex-grow: 1;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.title {
    color: var(--color-black);
    font-weight: 700;
    font-size: 20px;
}
.text {
    color: var(--color-black);
    font-size: 14px;
    &-descr {
        font-size: 15px;
    }
}

.button {
    line-height: 14px;
    padding: 10px 15px;
    width: 105px;
    text-transform: uppercase;
    background-color: var(--color-red);
    display: block;
    text-align: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &[disabled] {
        background-color: #7e1a1a;
        color: #acacac;
        transition: .3s background-color, .3s color;
    }
    &--grey {
        background-color: #6F6F6F;
        &[disabled] {
            background-color: #3e3e3e;
            color: #a2a2a2;
            transition: .3s background-color, .3s color;
        }
    }
}

.up { 
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    &__img {
        display: block;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        box-shadow: 1px 1px 10px black;
    }
}

@keyframes pulse {
    0% {
        opacity: 100;
    }
    50% {
        opacity: 40%;
    }
    100% {
        opacity: 100%;
    }
}
.pulse {
    animation: pulse 2s ease-in-out .5s infinite alternate;
}

