.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    &__overlay {
        position: absolute;
        top:0;
        left: 0;
        background-color: rgb(35 34 34 / 70%);
        width: 100%;
        height: 100%;
    }
    &__content {
        margin: 0 auto;
        position: relative;
        z-index: 200;
        height: auto;
        max-width: 90vw; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__close {
        width: 30px;
        height: 30px;
        background-color: unset;
        border: none;
        align-self: end;
        position: relative;
        margin-bottom: 5px;
        span {
            display: block;
            position: absolute;
            top: 0;
            right: 50%;
            height: 30px;
            width: 2px;
            background-color: #fff;
            &:first-child {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }
    &__box {
        max-height: 80vh;  
        max-width: 90vw; 
        height: auto;         
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
            max-height: inherit;   
            max-width: inherit;
            height: 100%;
            width: inherit;
            object-fit: contain;

        }
    }
}