.failure {
    background-color: var(--color-white);
    flex: 1;
    &__divider {
        height: 1px;
        width: 80%;
        margin: 0 auto;
        background-color: var(--color-black);
    }
    &__title {
        margin-top: 20px;
        text-align: center;
        color: var(--color-black);
        font-weight: bold;
        font-size: 25px;
    }
    &__link {
        padding: 20px 0;
        display: block;
        text-align: center;
        color: var(--color-blue);
        font-weight: bold;  
    }
}