.header {
    flex-grow: 0;
    flex-shrink: 0;
    background: linear-gradient(90deg, #232222 0%, rgba(35, 34, 34, 0.00) 100%);
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        font-weight: 700;
        font-size: 24px;
        &-link {
            color: #1168b9;
            transition: .3s all;
            position: relative;
            &--active {
                color: hsla(0, 0%, 99%, 0.9);
                text-shadow: 0px 3px 3px #000;
            }
        }
    }
    hr {
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 0;
        display: none;
    }
}
.logo {
    cursor: pointer;
    h1 {
        font-size: 28px;
        font-weight: 700;
        text-shadow: 0px 4px 4px #000;
    }
    span {
        color: var(--color-blue);
    }
}