.header {
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--background-header);
    padding: 30px 50px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 40px;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 30%);
    &__nav {
        font-weight: 700;
        font-size: 24px;
        color: var(--menu-color);
        &-link {
            transition: .3s all;
            position: relative;
            &--active {
                color: var(--menu-active);
                text-shadow: var(--logo-shadow);
            }
        }
    }
    hr {
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 0;
        display: none;
    }
}
.logo {
    cursor: pointer;
    position: relative;
    z-index: 100;
    h1 {
        font-size: 28px;
        font-weight: 700;
        text-shadow: var(--logo-shadow);
    }
    span {
        &:first-child {
            color: #3D97EB;
        }
        &:nth-child(2) {
            color: var(--logo-white);
        }
    }
/*     ::after {
        display: block;
        position: absolute;
        content: "";
        top: 19px;
        left: 74px;
        background-color: var(--color-red);
        height: 17px;
        width: 200px;
        z-index: -2;
    } */
}