.footer {    
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    background: var(--background-footer);
    box-shadow: 1px 2px 5px rgb(0 0 0 / 30%);
    &__link {
        display: block;
        width: 20px;
        height: 20px;
        svg {
            fill: var(--text-white);
            display: block;
            width: 100%;
            height: 100%;
            transition: 0.2s all;
            &:hover {
                fill: var(--color-blue);
            }
        }
    }
    p {
        color: var(--text-white);
    }
}